* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    /* outline: solid lightblue; */
}

h1,
#buttons,
#stats div,
#results-msg {
    text-align: center;
    margin: 10px 0;
}

#title,
#results {
    border-bottom: 4px solid lightsalmon;
}

body {
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#game {
    width: 700px;
    padding: 30px;
    border: 1px solid lightblue;
    border-radius: 20px;
    box-shadow: 10px 10px 15px lightblue;
}

h1 {
    font-size: 48px;
}

button {
    font-size: 20px;
    font-weight: bold;
    width: 140px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:active {
    border: none;
}

#stats {
    display: flex;
    justify-content: center;
}

#stats div {
    font-size: 18px;
    width: 25%;
}

#stats div span {
    font-size: 40px;
    font-weight: bold;
}

#results-msg {
    font-size: 35px;
}

#footer {
    text-align: center;
}